.icon {
  font-size: 30px;
}

.icon i {
  padding: 5px;
  cursor: pointer;
}

.logo {
  vertical-align: -4px;
}

.logo-title a{
  font-weight: 700;
  white-space: normal;
  vertical-align: -4px;
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  color: #6153a3 !important;
  cursor: pointer;
  text-decoration: none;
}

.mem {
  font-size: 23px;
  cursor: pointer;
}

.nav-btn {
  display: inline-block;
  background-color: #24a383 !important;
  border-color: #24a383 !important;
  color: #ffffff !important;
  border-radius: 100px;
  padding: 10px 14px;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.hamburger {
  background: transparent;
  border: 0;
  font-size: 20px;
}

.hamburger:focus {
  outline: none;
}

@media screen and (max-width: 988px) {

  .mem,
  .icon,
  .nav-btn {
    display: none;
  }

  .navbar-toggle {
    display: flex;
    display: show;
  }
}

@media screen and (max-width: 988px) {
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    top: 54px;
    right: 0;
    display: none;
    padding: 5px;
  }
}

@media screen and (max-width: 972px) {

  .side,
  .i {
    display: none;
  }
}

.bg {
  margin-top: 30px;
}

.bg2 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url('bg2.gif');
  height: 620px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
}

.content h2 {
  font-weight: bold;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  line-height: 1;
  color: #353535;
}

.content p {
  box-sizing: border-box;
  font-size: 44.8px;
  font-weight: bold;
  color: #6153a3;
  font-family: 'Jost', sans-serif;
  line-height: 1;
  text-align: center;
}

.arrow {
  position: absolute;
  bottom: 0px;
  right: 450px;

}

.arrow img {
  width: 150px;
}

.bg3 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url('logo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.fu {
  font-family: 'Jost', sans-serif;
  font-size: 52.8px;
  line-height: 1.1;
  font-weight: bold;
  color: #22a5e5;
}

.web {
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.website {
  background: linear-gradient(rgba(8, 71, 107, 0.9), rgba(8, 71, 107, 0.9)), url('web.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column !important;
  justify-content: center;
  padding-top: 100px;
  margin-top: 0;
}

.con {
  color: white;
}

.con h1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
}

.con h2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}

.con p {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
}

.side:hover .i {

  transform: translateX(7px);
  transition: transform .2s linear;

}

.side:hover .j {

  transform: translateX(-7px);
  transition: transform .2s linear;

}

.side:hover .k {

  transform: translatey(-7px);
  transition: transform .2s linear;

}

.side:hover .l {

  transform: translatey(-7px);
  transition: all ease-in-out transform .2s linear;


}

.arro:hover {

  transform: translatex(15px);
  transition: transform .2s linear;

}

@media screen and (max-width: 624px) {
  .content p {
    font-size: 33px;
  }

  .content h2 {
    font-size: 20px;
  }

  .fu {
    font-size: 31px;
  }

  .web {
    font-size: 1.2rem;
  }

  .man {
    margin: 0;
  }

}

.card {
  color: white;
  background: transparent;
}

.card-box {
  height: 100%;
  /* border: 1px solid red; */
}

.card-box h4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: start;
}

.card-box p {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;

}

@media screen and (max-width: 764px) {
  .card-box {
    /* margin: 0; */
    padding: 0;
  }

  .card-box h4 {
    text-align: center;
  }

  .card-box p {
    text-align: center;
  }

  .website h1 {
    font-size: 3.2rem;

  }

  .website h2 {
    font-size: 1.3rem;

  }

  .website p {
    font-size: 1rem;

  }
}

.left {
  background-color: #acd7bd;
}

.facebook {
  margin-top: 300px;
  margin-left: 50px;
}

.right p {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 160px;
}

.right h2 {
  color: #6153a3;
  font-family: 'Jost', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
  font-weight: 700;
  /* padding: 10px; */
}

.right h5 {
  color: #353535;
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 130px;
}

@media screen and (max-width: 976px) {
  .right p {
    font-size: 25px;
    /* text-align: center; */
    text-align: justify;
  }

  .right h2 {
    font-size: 1.8rem;
    /* text-align: center; */

  }

  .right h5 {
    /* text-align: center; */
    font-size: 1.5rem;
  }

  /* .abc{
    
  } */
}

.bg4 {
  background: linear-gradient(rgba(86, 84, 154, 0.9), rgba(86, 84, 154, 0.9)), url('mbr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.data {
  padding: 40px;
}

.data h1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
  font-weight: bold;
}

.data p {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  /* margin: 0 25px; */
}

@media screen and (max-width: 976px) {
  .data p {
    font-size: 20px;
    text-align: center;
  }

  .data h1 {
    font-size: 1.8rem;
    text-align: center;

  }
}

.hero p {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
}

.comp {
  width: 100%;
}

@media screen and (max-width: 976px) {
  .hero p {
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
  }
}

.hero2 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #d3efef;
}

.hero2 p {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.hero2 h1 {
  font-weight: bold;
  color: #6153a3;
  font-family: 'Jost', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
}

.hero2 h4 {
  color: #353535;
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.cont {
  margin-top: 100px;
}

.con {
  width: 100%;
}

@media screen and (max-width: 976px) {
  .hero2 h4 {

    text-align: center;
  }

  .hero2 h1 {
    font-size: 3rem;
    margin: 0;
  }
}

.cari {
  /* outline: 1px solid #000000; */
  padding: 2.8rem 3.4rem;
  outline: 2px solid #000000;
  border-radius: 0;
  border-collapse: collapse;
}

.cari h1 {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
}

.cari p {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}

.font {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.a {
  background-color: #92c9b5;
}

.b {
  background-color: #d3efef;
}

.hero3 {
  background-color: #92c9b5;
  width: 100%;
  text-align: center;
}

.hero3 h1 {
  text-align: center;
  margin-bottom: 8px;
  font-family: 'Jost', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
  font-weight: bold;
  padding-top: 90px;

}

.hero3 img {
  width: 60%;
  padding: 40px 0;
}

@media screen and (max-width: 976px) {
  .hero3 h1 {
    font-size: 30px;
  }
}

.log {
  width: 200px;
}

.hero4 {
  margin: 100px 40;
  padding-bottom: 40px;
}

.hero4 h5,
p {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}

.hero4 p {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  color: #595959;
}

.table {
  padding: 100px;
  /* border: 1px solid red ; */
}

.form {
  border: 1px transparent;
  background: rgba(0, 0, 0, 0.05);
  padding: 60px 30px;
  border-radius: 40px;
  transition: transform 1s;
}

.form:hover {
  transform: rotate(-5deg);
}

.img {
  width: 100%;
  border: 1px transparent;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  height: 100%;
}

img {
  transition: transform 1s;
}

.img:hover {
  transform: rotate(5deg);

}

@media screen and (max-width: 992px) {
  .img {
    margin-top: 20px;
  }

  .table {
    padding: 30px 5px;
    margin-top: 20px;
  }

  .contain {
    padding: 0;
    margin: 0;
  }

}
.cid-t2U8cjqNe9 .head_info .mbr-subtitle {
  color: #2299aa;
}
.cid-t2U8cjqNe9 .head_info .mbr-subtitle {
  color: #4f87fb;}
  .display-7 {
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;}
    .mbr-bold {
      font-weight: 700;
  }
  .cid-t2U8cjqNe9 .head_info .mbr-section-title {
    color: #6153a3;
}
.cid-t2U8cjqNe9 .head_info .mbr-section-title {
    margin-bottom: 20px;
    color: #130947;
    font-weight: 700;
}.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
}
@media (min-width: 992px) {
.media-container-row {
  flex-wrap: nowrap;
}}
.media-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: start;}
  ::after, ::before {
    box-sizing: border-box;
}
@media (min-width: 992px){
.rows {
    margin-left: -16px;
    margin-right: -16px;
}}
@media (min-width: 992px){
.rows > [class*=col] {
    padding-left: 16px;
    padding-right: 16px;
}}
.pt-5 {
  padding-top: 3rem!important;
}
.justify-content-center {
  justify-content: center!important;
}
.cid-t2U8uBHsp9 ul.list-inline img {
  max-width: 6rem;
  padding-bottom: 0.5rem;
  -webkit-filter: grayscale(100%);
}
img, iframe {
  display: block;
  width: 100%;
}


img, svg {
  vertical-align: middle;}
  .cid-t2U8uBHsp9 ul.list-inline {
    margin: 0;
    -webkit-align-self: center;
    align-self: center;
  }
  
  @media (min-width: 992px){
.media-container-row {
    flex-wrap: nowrap;
}}
      .media-container-row{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: start;
      }
      .cid-t2U8cjqNe9 .plan .plan-title {
        background-color: #24a383;
        padding-bottom: 60px;
        padding-top: 30px;
        margin-bottom: 0;
        font-weight: 700;
        border-radius: 8px 8px 0 0;
    }
    #scroll {
      position:fixed;
      right:10px;
      bottom:10px;
      cursor:pointer;
      width:50px;
      height:50px;
      background-color: #24a383;
      text-indent:-9999px;
      display:none;
      -webkit-border-radius:60px;
      -moz-border-radius:60px;
      border-radius:60px
  }
  #scroll span {
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-8px;
      margin-top:-12px;
      height:0;
      width:0;
      border:8px solid transparent;
      border-bottom-color:#ffffff;
  }
